<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
</head>

<body>
    <h1>Edit A Farm</h1>
    <form action="/farms/<%= farm._id %>?_method=PUT" method="POST">
        <div>
            <label for="location">Farm Location</label>
            <input type="text" name="location" id="location" value="<%= farm.location %>">
        </div>

        <button>Submit</button>
    </form>

</body>

</html>