<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= error.status %></title>
    </head>

    <body>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="alert alert-danger">
                    <h4 class="alert-heading">
                        <%= error.message %>
                    </h4>
                    <p><%= error.stack %></p>
                </div>
            </div>
        </div>
    </body>
</html>
